/* Basic link styling */

a {
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:active {
  color: #ff0000;
}

/* Styling "Get on the mountain" Button */

.btn {
  display: block;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: hsla(219, 0%, 100%, 1);
  border: 1px solid #000000;
  margin: 0px auto;
  width: 175px;
  padding: 10px;
}

.btn:hover {
  color: #2176FF;
  background-color: hsla(219, 0%, 90%, 0.99);
  transform: translateY(-5px);
}

/* Activity buttons Styling */

.activity:hover {
  background-color: hsla(217, 100%, 56%, 0.95); 
  transform: translateY(-5px);
}

.activity:active {
  color: hsla(217, 100%, 56%, 0.95);
  background-color: hsla(217, 100%, 95%, 1);
  border: 1px solid hsla(217, 100%, 56%, 0.95);
}
